
body {
   background: url(../images/duchess-for-web-small.jpg) no-repeat center fixed;
   /*background: url(../images/duchess-for-web-small.jpg) no-repeat center fixed;*/
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -ms-background-size: cover;
   background-size: cover;
   margin-top: 0;
   padding: 0;
 }

h1, h2 {
   color: black;
   font-family: 'Cinzel', serif;
 }

h3 {
  color: #9D9E9E;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 12pt;
}

h4 {
  color: $highlight;
  font-family: 'Cinzel', serif;
  font-size: 20pt;
}

p {
   font-family: 'Open Sans Condensed', sans-serif;
 }

li {
  font-family: 'Open Sans Condensed', sans-serif;
}

#first-divider {
  margin-bottom: 30px;
}

/*title stuff-----------------------*/

.main-title {
  position: relative;
  top: 100px;
  margin: auto;
}

#main-heading {
  margin-top: 400px;
  color: black;
  float: right;
}

@media only screen and (min-width: 400px){
  #main-heading {
    margin-top: 250px;
    margin-left: 50px;
    width: 450px;
    font-size: 45pt;
    color: black;
  }
}

#main-heading span {
  color: gray;
}

/*Personal Statement-----------------*/

.statement {
  position: relative;
  top: 400px;
  background-color: black;
  height: auto;
  min-height: 300px;
}

.statement p {
  vertical-align: middle;
  height: auto;
  margin: auto;
  margin-top: 50px;
  padding: 50px;
  color: white;
  font-size: 15pt;
}

.quote p {
  height: 15px;
  width: 100%;
  margin: auto;
  padding: 0;
  font-family: 'Cinzel', serif;
  font-size: 70pt;
}

/* Skills ------------------------- */

.skills {
  position: relative;
  top: 400px;
}

.skill-box {
  line-height: 300px;
  height: 300px;
  text-align: center;
}

#skill-set-one {
  background-color: black;
}

#skill-set-two {
  background-color: gray;
}

#skill-set-three {
  background-color: black;
}

#skill-set-four {
  background-color: gray;
}

.skill-label {
  display: inline-block;
  line-height: 1.5;
  color: white;
  vertical-align: middle;
}

.skill-detail {
  display: inline-block;
  line-height: 1.5;
  color: white;
  vertical-align: middle;
  font-size: 15pt;
}

/* Featurettes ------------------------- */

.projects {
  position:relative;
  top: 400px;
  background-color: white;
  height: auto;
}

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

@media (min-width: 768px) {

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

#responsive-sample, #ui-sample {
  margin-top: 100px;
}

#concept-sample, #illustration-sample {
  margin-top: 100px;
}

#three-d-sample {
  margin-top: 120px;
}

.sample-box {
  line-height: 300px;
  height: 300px;
  padding: 0;
}

.sample-box-overlay{
  visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  h2{
    color:white;
    text-align: center;
    line-height: 300px;
    vertical-align: middle;
  }
}

.sample-box:hover > .sample-box-overlay {
  visibility: visible;
}

.portfolio-button {
  border-radius: 0;
  background-color: #00A9CC;
  border-color: #00A9CC;
  margin-bottom: 20px;
}

/*Begin Sample Box Backgrounds*------------------*/

#application-sample-one {
  background: url("../images/ZG-screen.jpg") center;
  background-size: cover;
}

#application-sample-two {
  background: url("../images/Rovertrak-wireframes-edit.jpg") center;
  background-size: cover;
}

#application-sample-three {
  background: url("../images/API-superstore-screen.jpg") center;
  background-size: cover;
}

#ui-sample-one {
  background: url("../images/HELIONOX-architects-screen.jpg") center;
  background-size: cover;
}

#ui-sample-two {
  background: url("../images/SW-wireframes.jpg") center;
  background-size: cover;
}

#ui-sample-three {
  background: url("../images/user-science.jpg") center;
  background-size: cover;
}

#illustration-sample-one {
  background: url("../images/tiberius-mobile.jpg") center;
  background-size: cover;
}

#illustration-sample-two {
  background: url("../images/underworld architect.jpg") center;
  background-size: cover;
}

#illustration-sample-three {
  background: url("../images/Watchmaker-FINAL.jpg") center;
  background-size: cover;
}

#three-d-sample-one {
  background: url("../images/orrery-dark.jpg") center;
  background-size: cover;
}


/*Bio*--------------------------------*/

.bio {
  position: relative;
  top: 400px;
  height: auto;
  min-height: 300px;
  background-color: gray;
}

.bio h2, .bio p {
  color: white;
}

.bio p {
  vertical-align: middle;
  height: auto;
  margin: auto;
  padding: 50px;
  font-size: 15pt;
}

dt {
  font-size: 12pt;
  margin-top: 10px;
  font-family: 'Cinzel',serif;
}

dd {
  font-size: 10pt;
  font-family: 'Open Sans Condensed', sans-serif;
}

dt, dd {
  color: white;
  text-align: center;
}

dl {
  margin-top: 40px;
  margin-bottom: 40px;
}
/*Contact*-----------------------------*/

.contact {
  position: relative;
  top: 400px;
  height: auto;
  min-height: 300px;
  background-color: black;
}

.contact-spacer {
  height: 40px;
  width: auto;
}

@media only screen and (min-width: 400px){
  .contact-spacer {
    height: 100px;
    width: auto;
  }
}

.contact img {
  display: block;
  margin: auto;
  width: 50px;
}

figure {
  padding: 10px;
}

figcaption {
  padding: 5px;
  text-align: center;
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 10pt;

}

.contact h2 {
  color: white;
}

/*Modal styles-----------------*/

.modal-title {
  color: #58CFFF;
  font-family: 'Ubuntu', sans-serif;
}

.modal-body {
  font-family: 'Open sans', sans-serif;
  h5 {
    color: #58CFFF;
    font-family: 'Ubuntu', sans-serif;
  }

  img {
    display: block;
    height: auto;
    width: 300px;
    margin: auto;
  }
}

footer {
  position: relative;
  top: 400px;
  margin: 0;
  height: auto;
  min-height: 100px;
  color: #58CFFF;
  background-color: gray;
  h5 {
    text-align: center;
    margin: 0;
    padding-top: 40px;
    padding-left: 15px;
    padding-right: 15px;
  }
  font-family: 'Open Sans Condensed', sans-serif;
}
