.navbar {
  background-color: black;
  border-color: black;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover {
  color: white;
}

.navbar-default .navbar-nav > li > a {
  color: white;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: white;
  background-color: black;
}

.navbar-header button, .navbar-default .navbar-toggle, .navbar-default .navbar-toggle:focus {
  border-color: black;
  background-color: black;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}
